.bur-ches {grid-column: 3/4;
    grid-row: 3/5;
    justify-self: start;
    img {height: 8rem;}
}
.bur-clasica {grid-column: 4/5;
    grid-row: 3/5;
    justify-self: start;
    img {height: 5.00rem;}
}

.vegeta {grid-column: 5/6;
    grid-row: 3/5;
    justify-self: start;
    img{height: 6.25rem;}
}