* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    h1 {font-family: Gloria Hallelujah;}
    h2{ font-family: Gloria Hallelujah;}
    p {font-family: julee;}
    a {font-family: julee; color: inherit;}
    
}
